<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      laudantium qui officiis facilis repellat. Ipsam et cum quia eligendi
      aliquid?
    </p>
    <footer class=>
      <div class="media">
        <div class="media__image quote__line">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Ebuka Okeke</h3>
          <p class="quote__company">ABC Company</p>
        </div>
      </div>
    </footer>
  </blockquote>